.hero-container {
  height: 65vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin-bottom: -250px;
}

/* text in the middle of page */
.hero-container > h1 {
  color: #222629;
  font-size: 100px;
  margin-top: -250px;
  padding: 0.5rem;
  overflow: hidden;
  line-height: normal;
}

/* text below middle of page */
.hero-container > p {
    color: #A74CAB;
    font-size: 50px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 500px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }
}
