.About {
  min-height: 90vh;
  display: flex;
  /* display flex makes it into two columns */
  align-items: left;
  justify-content: space-between;
  padding: 2rem 7rem 0rem 7rem; 
  color: black;
  margin-bottom: 2rem;
  /* padding-bottom: 0; */
}

.Description {
    flex: 1;
  padding-right: 5rem;
  z-index: 2;

}


/* image */
.Image {
  flex:1;
  overflow: hidden;
  width: 100%;
  height: auto;
  z-index: 2;
  object-fit: cover;
  padding-left: 3rem;
}

.block-responsive {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.image-style-rounded {
  border-radius: 10px;
}


@media (max-width: 1300px) {
  .About {
    display: block;
    padding: 2rem 2rem;
    text-align:left;
  }
  .Description {
    padding: 0;
  }
}

.Title {
    font-size: 2.5rem;
    font-family: 'Roberto', sans-serif;
}
.Text {
    padding: 3rem 10rem;
    padding-left: 5rem;
    line-height: 150%;
    font-family: 'Lato', sans-serif; 
}

