* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.projects {
  color: #222629;
  font-size: 40px;
  margin-left: 280px;
  margin-top: 50px;
  /* padding: 280px; */
}

.projectsText {
  font-size: 20px;
}
